/*
 * FILE: print.scss
======================================================================== */
/* line 9, print.css.scss */
pre code, p code, .terminal {
  font-family: "DejaVu Sans Mono";
  page-break-inside: avoid; }

/* line 14, print.css.scss */
ol li {
  margin-left: 15px; }

/* line 18, print.css.scss */
.wrap {
  width: 2400px; }
  /* line 21, print.css.scss */
  .wrap .container {
    margin-left: 0; }

/* line 26, print.css.scss */
li p code {
  width: auto;
  display: inline; }

/* line 31, print.css.scss */
note {
  overflow: visible;
  page-break-inside: avoid !important;
  page-break-before: avoid !important; }

/* line 37, print.css.scss */
pre, pre code {
  overflow: visible; }

/* line 42, print.css.scss */
.quick-links,
.nav-container,
.header,
.site-footer-links,
#repo-link,
#feedback {
  display: none; }

/* line 51, print.css.scss */
h1 {
  margin-top: 0;
  font-size: 1.563em; }
